.container {
    /* background-color: black; */
    padding: 20px;
  }
  
  .footer-section1 {
    display: flex;
    justify-content: space-between;
    margin-bottom: 20px;
    background-color: black;
    color:white;
    /* margin-left:10px; */
  }
  
  .footer-section1 .c {
    flex-basis: 50%;
    background-color: black;
  }
  
  .footer-section1 h1 {
    font-size: 18px;
  }
  
  .footer-section1 p {
    font-size: 14px;
  }
  
  .footer-last-section {
    display: flex;
    justify-content: space-between;
    margin-bottom: 20px;
    background-color: black;
    color:white;
    padding-left:60px;
  }
  
  .footer-last-section div {
    flex-basis: 30%;
  }
  
  .icon-container {
    display: flex;
  }
  
  .icon-container span {
    margin-right: 10px;
  }
  
  .para1 {
    font-size: 14px;
    text-align: center;
  }
  
  /* Media Queries */
  @media screen and (max-width: 768px) {
    .footer-section1, .footer-last-section {
      flex-direction: column;
    }
  }
  
  /* .meta{
    background-color: lightslategray;
  } */

  .contactus{
    background-color: black;
    color:white;
    padding-right:100px;
    padding-left:30px;
  }

  .subscribe{
    background-color: black;
    color:white;
    padding-left:30px;
  }
